
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.conteudo{
    width: 100%;
    max-width: 800px;
    min-height: calc(100vh - 25px);
    margin: auto;
    background-color: #ccc;
    /* background-color: #AF6A65; */
    padding-bottom: 5px;
}

.aviso{
    text-align: center;
    font-size: 16px;
    border-bottom: 2px solid #444;
    padding: 5px 0;
}

h2{
    text-align: center;
    padding: 25px 0;
}
form{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
form input{
    width: 70%;
    font-size: 18px;
    padding: 8px 0;
    padding-left: 20px;
    padding-right: 15px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.item{
    border: 1px solid #000;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 25px;
    display: grid;
    grid-template-columns: auto auto;
    background-color: #eee;
}
.escola{
    font-size: 22px;
    text-align: center;
    padding-bottom: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
}
.nomes{
    padding: 5px;
    font-size: 20px;
}
.nomes img{
    width: 20px;
}
.nomes a{
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nomes a div{
    margin-right: 10px;
}

footer{
    text-align: center;
    border-top: 2px solid #555;
    padding-top: 5px;
}

@media screen and (max-width: 450px) {

    form input{
        width: 85%;
    }
    .escola{
        font-size: 20px;
    }
    .nomes{
        font-size: 18px;
    }
    .item{
        margin-left: 10px;
        margin-right: 10px;
    }
}